/* general style: body, icon */

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {

    box-sizing: border-box;
}

img {
    width: 100px;
    height: auto;
}

.icon {
    display: flex;
    justify-content: center;
}

/* Block styling: h1, h2, .block and button*/

h1,
h2 {
    width: 90%;
    max-width: 600px;
    margin: 1em auto;
    border: 1px solid white; 
    text-align: center;
    color: white;
    padding: 25px;
    letter-spacing: 1px;
    
}

h1 {
    background-color: #027683;
    font-size: 2em;
}

h2 {
    background-color: #6CBEBF;
    font-size: 1.5em;
}

.block {
    margin: 5px auto;
    padding-left: 0;
    width: 90%;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#racetype {
    display: block;
    padding: 0;
    background-color: #ade8f4;
}

.text-center {
    width: 100%;
}

button {
    margin: 20px;
    width: 80%;
    max-width: 600px;
}

/* Styling h3 and input container */

h3 {
    color: #027683;
    margin: 6px 0 0.5em 0;
    font-size: 1em;
    font-weight: bolder;
    
}

.row {
    display: block;
    margin: 5px;
}

/* Styling inputs */
    /* general */

.col-5 {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1px 15px;
    color: #027683;
    font-size: 0.8em;
    max-width: 100%;
}

    /* individual */

.col-5 input {
    max-width: 20em; 
    width: 90%;
}

.col-5 label {
    margin-bottom: 0.5em;
}

#emailform label {
    margin-bottom: 1px;
}

#emailform input {
    margin-bottom: 0.5em;
}

#selectdate label {
    width: 10em;
}

#selectdate {
    color: #027683;
    font-size: 0.8em;  
}

.radiobtn {
    display: block;
    padding-left: 10px;
}

/* Styling section break */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    max-width: 80%;
}

/* Responsive design */

@media (min-width: 639px) {
       
    .row {
        display: flex;
    }

    h3 {
        width: 8em;
    }

    hr {
        width: 70%;
    }

    #racetype h3 {
        text-align: center;
        margin: auto;
        padding: 5px;
    }

    .radiobtn {
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
    }

    #emailform {
        display: flex;
    }

}


